<p><%= @user.name %> 様</p>

<p>いつもゲンキノモト。をご利用いただき誠にありがとうございます。</p>

<p>ご注文の商品を発送しましたので、お知らせいたします。</p>

<p>注文番号: <%= @payment.id %></p>
<p>商品名: <%= @event.title %></p>
<p>数量: <%= @event_order.quantity %></p>

<p>ご注文内容についての詳細は、弊社公式ウェブサイトに</p>
<p>ログインの上、購入履歴をご覧ください。</p>
<p>------------------------------</p>
<p>ゲンキノモト。公式ウェブサイト</p>
<p>https://genkinomoto.herokuapp.com/</p>
<p>------------------------------</p>
