/* universal */

html {
  min-height: 100%; //背景色の高さを画面サイズに合わせる
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.7em;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

body {
  color: #000;
  background: #ffffff;
}

#c-body {
  min-height: 100vh;
  margin-bottom: 80px;
}
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.link-black {
  text-decoration: none;
  color: black;
}

.link-gray {
  text-decoration: none;
  color: gray;
}

.link-lightgray {
  text-decoration: none;
  color: rgb(237, 237, 237);
}
.link-lightgray:hover {
  text-decoration: none;
  color: white;
}

.link-red {
  text-decoration: none;
  color: red;
}

.link-white {
  text-decoration: none;
  color: white;
}

.link-blue {
  text-decoration: none;
  color: blue;
}

.page-info {
  font-size: 1em;
  color: rgb(24, 24, 24);
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center
}


.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.font-gray {
  color: gray;
}

.font-deep-gray {
  color: rgb(60, 60, 60);
}

.font-small {
  font-size: 0.8rem
}

.font-large {
  font-size: 1.2rem
}

// devise設定
  .container-login {
    @extend .container-fluid;
    max-width: 576px;
    .form-control {
      margin-bottom: 20px;
    }
  }

  .mw-md {
    margin-top: 20px;
    max-width: 576px;
  }

  .mw-xl {
    max-width: 1200px;
  }
// ---------

.round-square-top {
  width: 250px; /* 幅指定 */
  height: 80px; /* 高さ指定 */
  border-radius: 15px; /* 角丸指定 */
  display: inline-block; /* インラインブロックする */
  box-sizing: border-box; /* 崩れ防止 */
  margin-bottom: 5px;
  margin-right: 10px; /* 要素の空き具合指定 */
  padding: 2rem;
  // font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";    /* フォントの種類を指定 */
  text-align: center;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 198);
  border-color: #000;
  font-size: 15px;
}

/*ページネーション自体のデザイン*/
.pagination {
  /*ページネーションを中央に*/
  justify-content: center;
  display: flex;
}
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}
.pagination > li > a:hover {
  /*ホバー時のデザイン*/
  border-radius: 3px; /*角を丸くする*/
}
/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: gray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
  line-height: 1.25 !important;
  padding: 0.5rem 0.75rem !important;
}
.pagination > .active > a:hover {
  background: lightgray !important; /*背景の色を変える*/
  border-radius: 3px !important; /*角を丸くする*/
}

.image-border {
  border: 1px solid #ccc;
}

.search-container {
  border: 1px solid #999;
  padding: 3px 10px;
  margin-bottom: 3px;
  width: 260px;
}

.sort_link {
  color: #696969;
}

.sort_link:hover {
  color: #999;
  text-decoration: none;
}
//テーブル表示
.table-white {
  background-color: white;
}

.table-red {
  color: #c22162;
  background-color: #faf1f4;
}

.table-blue {
  color: #0c7ea9;
  background-color: #e3f3f9;
}

.btn-reservation {
  padding: 0.1rem 0.75rem;
}

.fc .fc-scrollgrid {
  background-color: white;
}

// Cart
.cart-show-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.cart-content-payment {
  max-width: 300px;
}

.cart-content-payment-total {
  font-weight: bold;
}

.cart-content-order-image {
  max-width: 300px;
}

.cart-payment-table-border {
  border: 8px orange solid;
}

.table-striped {
  border: 1px solid lightgray;
}

.required::after {
  content: "必須";
  color: #ffffff;
  background: #cc0000;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 0.5em;
  margin-left: 0.3em;
}


// Item
.item-index-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.item-index-body {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.item-index-description {
  padding: 16px;
  line-height: 1.2;
}

.item-show-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.item-show-image {
  width: 100%;
  max-width: 500px;
}

// Item && Event
.item-show-name,
.event-show-title {
  font-size: 1.5rem;
}

.item-show-price,
.event-show-price {
  font-size: 1.5rem;
  color: crimson;
}

// Event
.event-index-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.event-index-body {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.event-index-description {
  padding: 16px;
  line-height: 1.2;
}

.event-show-content-wrapper {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.event-show-content-image {
  width: 100%;
  max-width: 500px;
}

.event-show-covid-precaution {
    margin-bottom: 4rem;
    padding: 50px;
    background-color: lightgray;
}

.border-radius-top {
  border-radius: 10px 10px 0px 0px;
}

.menu-new-page-btn {
  margin-bottom:  20px;
}

// Store
.store-index-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 40px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.store-index-body {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  border-radius: 10px; /* 角丸指定 */
}

.store-index-description {
  padding: 16px;
  line-height: 1.2;
}

.store-show-content-wrapper {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.store-show-content-image {
  width: 100%;
  max-width: 500px;
}

// Payment
.payment-index-content-wrapper,
.payment-show-content-wrapper,
.payment-show-content-inner-wrapper {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto;
  text-align: start; /* カード内の中央寄せ解除 */
  border: 1px solid lightgray;
  padding: 10px;
}


.Editlink {
  text-decoration: none;
  color: #444 ;
}

// お知らせ notification
.notification-image {
  background-image: url("../images/notification-top.jpg");
  max-width: 100%;
  height: 450px;
  background-size: cover;  
  background-position: center center;
  border-radius: 20px;
  span {
    color: whitesmoke;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
  }
}

.notification-show-image {
  background-image: url("../images/notification-show.jpg");
  max-width: 100%;
  height: 450px;
  background-size: cover;  
  background-position: center center;
  border-radius: 20px;
  span {
    color: whitesmoke;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
  }
}

.notification-body {
  margin-top: 30px;
  li {
    padding-bottom: 20px;
  }
}

.notification-wrapper {
  background-color: #FFFFFA;
  margin-top: 30px;
  padding: 20px 20px 50px 20px;
  margin-bottom: 20px;
  color: #444;
  h4 {
    color: #444;
    padding-top: 50px;
  }
}

.notification-body-form {
  height: 250px;
}

#design-hr {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ccc), to(transparent));
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
  margin: 30px auto;
}
// -----------------------

// staffs/account
.staff-account-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
}

.staff-account-cards {
  justify-content: space-around;
  margin-right: 10px;
}

.staff-info-table {
  max-width: 500px;
}

.purchase-record-wrapper {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto;
  text-align: start; /* カード内の中央寄せ解除 */
  border: 1px solid lightgray;
  padding: 10px;
}

.purchase-record-inner-wrapper {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* gridの設定 */
  gap: 40px 10px; /* カード同士の隙間 縦方向 横方向 */
  margin: 20px auto;
  text-align: start; /* カード内の中央寄せ解除 */
  border: 1px solid lightgray;
  padding: 10px;
}

.purchase-record-span {
  span {
    color: red;
  }
}
    
.font-red {
  color: red;
}

// 星機能 ----
.rating-box .ratings .fa {
  font-size: 30px;
  color: #fc0;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
  color: #999;
}


#reviews-item {
  padding-top: 30px;
}
// ---

// review-index ---

// .star-rating-front {
//   position: absolute;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   color: #ffcc33;
// }
// .star-rating-back {
//   color: #ccc;
// }

// 星塗りつぶし --
.average-score {
  display: flex;// ★と点数を横並びにする
  justify-content: flex-start;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 17px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; // 指定幅からはみ出した部分を隠す。
  white-space: nowrap;// widthが足りない時に、折り返さないようにする。
  color: #ffcc33;
  // height: 25px;
}
.star-rating-back {
  color: #ccc;
}
// --

.reviews-container {
  display: flex;
  justify-content: center;
}

.reviewMainWrapper {
  // padding-inline: 20px;
  // width: 700px;
  margin-top: 30px;
  .reviews-table {
    color: #64554A;
    // display: flex;
    // justify-content: center;
  }
  .reviews-content-header {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    border-top-left-radius: 10px;
  }
  // .reviews-content-top {
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    // background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  // }
  .reviews-content-body {
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    min-height: 200px;
  }
}

.total_score-top {
  border: solid 1px #444;
  height: 100px;
  width: -webkit-fill-available;
  .c-1 {
    text-align-last: justify;
  }
}

#total-score-review {
  font-size: 1.4rem;
}

// ---
