<p><%= @user.name %> 様</p>

<p>いつもゲンキノモト。をご利用いただき誠にありがとうございます。</p>

<p>ご注文の商品を発送しましたので、お知らせいたします。</p>

<p>注文番号: <%= @payment.id %></p>
<p>商品名: <%= @item.name %></p>
<p>数量: <%= @order.quantity %></p>

<p>今後もよろしくお願いいたします。</p>
<p></p>
<p>------------------------------</p>
<p>ゲンキノモト。公式ウェブサイト</p>
<p>https://genkinomoto.herokuapp.com/</p>
<p>------------------------------</p>
