<p class="mt-2">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to '口コミ一覧', header_reviews_path, class: "link-gray" %> ＞ 
  口コミへの返答投稿
</p>

<div class="container">
  <p>お客様の口コミに返信 編集</p>
  <%= render 'form' %>
</div>
