<p class="mt-2">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to 'マイページ', users_account_path, class: "link-gray", 'data-turbolinks': false %> ＞ 
  口コミ新規投稿画面
</p>
<div class="container">
  <h1>口コミを新規作成する</h1>
  <%= render 'form' %>
</div>
