<p><%= @resource.name %>様</p>

<p>いつもゲンキノモトをご利用くださいまして、ありがとうございます。</p>

<p>以下のリンクからパスワードの再設定を行なってください。</p>

<p><%= link_to 'パスワードの再設定をする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このURLの有効期限は24時間です。</p>
